<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xx后台配置管理系统</title>
    <script src="//iotx-city-web-vpc-daily-resource.oss-cn-shanghai.aliyuncs.com/package/2.1.0/libs/libs.js"></script>
</head>
<body>
<h2>xx后台配置管理系统-日常</h2>
<form action="/user/login"  method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username" value="admin"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" value="123456"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">登录</button></td>
        </tr>
    </table>
</form>
</body>
</html>
